- var css = "/assets/css/";
- var js = "/assets/js/";
- var img = "/assets/img/";

block vars

doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    block tdk

    link(href="https://fonts.googleapis.com/css?family=Kosugi+Maru" rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
    link(rel="stylesheet", href=css+"style.css")

  body
    include ../components/_header

    block contents

    include ../components/_footer

    script(src=js+"bundle.js" defer)Ï